.cardAll {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  
}
.card-off {
  border: 1px solid black;
  text-align: center;
  width: 292px;
  height: 439px;
  display: inline-block;
}
.card-sale {
  position: absolute;
  width: 66px;
  height: 22px;
  font-size: 14px;
  background: #e7ff86;
  border-radius: 29px;
}
.cardsemdesc {
  position: absolute;
}
.card-image {
  border: 1px solid red;
  width: 292px;
  height: 321px;
}
.card-title {
  font-size: 24px;
  width: 283px;
  height: 38px;
}

.card-text-tenis {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.desc-flex {
  margin-top: 10px;
  display: flex;
}
