#cards{
    display: flex;
    justify-content: center;
    padding: 96px 100px;
    gap: 12px;
   
}
.card-content{
    display: flex;
    width: 33%;
  font-family: "Inter";
   background-color: #D8E3F2;
}
.card-image{
    background-position: cover;
    display: flex;
    justify-content: end;
    width: 242px;
    height: 251px;
}

/* .content {
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 40px;
    
} */
  
.discount-title {
    margin-left: 30px;
    margin-top: 76px;
}
  
.discount-button {
    background-color: #F5F5F5;
    border: none;
    padding: 13px 44px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 30px;
    margin-top: -5px;
    font-family: Inter;
    color: #C92071;
    font-weight: 700;
}
  

  
