.header{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between; 
    margin-left: 104px;
    margin-right: 100px;
    margin-top: 34px;
    
    
}
.logo{
    font-size: 32px;
    font-weight: 700;
    width: 253px;
    height: 44px;


}
.menu {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pesquisa{
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 559px;
}
.menu input { 
    width: 800px;
    padding: 10.5px;
    font-size: 16px;
    border-radius: 5px;  
    width: 519px;
    height: 60px;
    background-color: #f0f0f0;
    border-style: none;
}

#lupa {
    height: 24px;
}

.menu a{
    width: 102px;
    height: 28px;
    top: 50px;
    left: 991px;
    gap: 0px;
    opacity: 0px;
    color: 	#000000;
}
.menu button {
    font-size: 14px;
    color: #FFF; 
    background-color: #C92071;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 114px;
    height: 40px;
    top: 44px;
    left: 1123px;
}

.menu2 {
    /* font-size: 16px; */
    background-color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    font-weight: 400px;
    width: 423px;
    height: 29px;
    margin-bottom: 30px;
}
.nav-link {
    margin-right: 32px;
    text-decoration: none;
    color: #474747;
    transition: color 0.3s;
}
.menu2 a:hover {
    font-weight: bold;
    font-weight: 700px;
    color: #C92071;
    text-decoration: underline;
   
    
}
.nav-link.active {
    color: #C92071;
    font-weight: 700px;
    text-decoration: underline;
    font-weight: bold;
  }
