.containerOferta {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 553px;
  width: 100vw;
}
.row-50 {
  width: 589px;
  height: 341px;
  position: relative;
}
.img1, .img2 {
  position: absolute;
}

.img1 {
  width: 589px;
  height: 341px;
}

.img2 {
  height: 466px;
}

.btn {
  background: #c92071;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
}
.ofertaE {
  margin-left: 67px;
  color: #c92071;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: left;
  font-weight: bold;
  width: 589px;
  height: 341px;
  top: 2843px;
  left: 692px;
}
